---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 15 Sep 2018 02:00:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 61e71ec812a3530d76ad942609c369bd
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1536977723'
      X-Response-Time:
      - '177'
      X-Transaction:
      - 004534aa00d4aa29
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Sep 14 16:39:44 +0000 2018","id":1040641255305170946,"id_str":"1040641255305170946","text":"Here
        you see me settled in Amsterdam \ud83d\udc47 https:\/\/t.co\/z2kXDTYEMj","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1040641162992746497,"id_str":"1040641162992746497","indices":[39,62],"media_url":"http:\/\/pbs.twimg.com\/media\/DnEZn8rVAAEUKR3.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DnEZn8rVAAEUKR3.jpg","url":"https:\/\/t.co\/z2kXDTYEMj","display_url":"pic.twitter.com\/z2kXDTYEMj","expanded_url":"https:\/\/twitter.com\/levelsio\/status\/1040641255305170946\/photo\/1","type":"photo","sizes":{"medium":{"w":1024,"h":512,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":512,"resize":"fit"},"small":{"w":680,"h":340,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1040641162992746497,"id_str":"1040641162992746497","indices":[39,62],"media_url":"http:\/\/pbs.twimg.com\/media\/DnEZn8rVAAEUKR3.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DnEZn8rVAAEUKR3.jpg","url":"https:\/\/t.co\/z2kXDTYEMj","display_url":"pic.twitter.com\/z2kXDTYEMj","expanded_url":"https:\/\/twitter.com\/levelsio\/status\/1040641255305170946\/photo\/1","type":"photo","sizes":{"medium":{"w":1024,"h":512,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":512,"resize":"fit"},"small":{"w":680,"h":340,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":1040626178585849856,"in_reply_to_status_id_str":"1040626178585849856","in_reply_to_user_id":1577241403,"in_reply_to_user_id_str":"1577241403","in_reply_to_screen_name":"levelsio","user":{"id":1577241403,"id_str":"1577241403","name":"Pieter
        Levels \u2728","screen_name":"levelsio","location":"\ud83c\udf0e\ud83c\udf0d\ud83c\udf0f\ud83d\ude80\ud83c\udf14","description":"Serial
        maker\ud83c\udfddhttps:\/\/t.co\/dr6IFbxwX1 + \ud83d\udc69\u200d\ud83d\udcbbhttps:\/\/t.co\/w6AtUy7mcR
        + \ud83d\uddfahttps:\/\/t.co\/OkOJ0XagRA + \ud83d\udcd5https:\/\/t.co\/CTgH9KJLuV
        + \ud83d\udccahttps:\/\/t.co\/jhYdA5gX84 + \ud83c\udf34https:\/\/t.co\/0ZlhK6XlYF
        + \ud83d\udce3https:\/\/t.co\/SVSZa2qfac + \ud83d\udea7https:\/\/t.co\/2sPrMbDB7j","url":"https:\/\/t.co\/NY02ID1av7","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/NY02ID1av7","expanded_ur[...]
